
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
background-color: rgba(184, 180, 180, 0.454);
width: 750px;
margin: 150px auto;
border: 3px solid gray;
padding: 0 8em 8em;



}

h1 {
font-size: 150%;
color: gray;
margin-bottom: .5em;
}

label {
float: left;
width: 11em;
}

input {
width: 22em;
margin-right: 1em;
margin-bottom: 1em;
}

#tasks {
margin-top: 0;
float: right;
}


